<div ng-controller="HomeController" data-ng-init="onInit()">

  <script type="text/ng-template" id="createRoomTemplate.html">
  <div class="modal-header">
  Create New Room
  </div>
  <div class="modal-body">
  <div>
  <label><input type="checkbox" ng-model="newRoom.isPublic"> Public Room</label>
  </div>
  <div>
  #<input size="32" ng-model="newRoom.alias" placeholder="Room Alias e.g. 'matrix' (optional)"/>:{{ config.user_domain }}
  </div>
  </div>
  <div class="modal-footer">
  <button ng-click="create()" type="button" class="btn btn-success">
  Create
  </button>
  </div>
  </script>

  <div id="wrapper">

    <div id="leftInfos">
      <div>
        <div class="profile-avatar">
          <img ng-src="{{ (null !== profile.avatarUrl) ? httpUri(profile.avatarUrl, 320, 320) : 'img/default-profile.png' }}"/>
        </div>
        <div id="user-ids">
          <div id="user-displayname">{{ profile.displayName }}</div>
          <div>{{ config.user_id }}</div>
        </div>
      </div>
      <br/>
      <div class="home_controls">
        <form>
          <input type="text" id="newChat_user" size="40" ng-model="newChat.user" ng-enter="messageUser()" placeholder="e.g. @user:domain.com"/>
          <button class="btnSpec" ng-disabled="!newChat.user" ng-click="messageUser()">Start Chat</button>
        </form>
      </div>
      <div class="home_controls">
        <form>
          <input type="text" size="40" id="joinAlias_room_alias" ng-model="joinAlias.room_alias" ng-enter="joinAlias(joinAlias.room_alias)" placeholder="e.g. #foo:example.org"/>
          <button class="btnSpec" ng-disabled="!joinAlias.room_alias" ng-click="joinAlias(joinAlias.room_alias)">Join Room</button>
          <button class="btnSpec" ng-click="showCreateRoomDialog()">Create Room</button>
        </form>
      </div>
      <div class="feedback">{{ feedback }}</div>
    </div>
    <div id="right">
      <h3>Recent conversations</h3>
      <div ng-include="'app/recents/recents.html'"></div>
      <br/>
    </div>
  </div>
</div>
